{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended", "plugin:unicorn/recommended"],
  "parserOptions": { "ecmaVersion": 2018, "sourceType": "module" },
  "plugins": ["prettier", "unused-imports"],
  "rules": {
    "prettier/prettier": "error",
    "unused-imports/no-unused-imports": "error",
    "unicorn/prefer-node-protocol": "off",
    "unused-imports/no-unused-vars": [
      "warn",
      { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
    ]
  }
}
